# --- Node & Web (Frontend) ---
node_modules/
dist/
dist-ssr/
*.local

# --- .NET & Build (Backend) ---
bin/
obj/
*.nupkg
project.lock.json

# --- Logs ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- IDEs & Editors (VS, Rider, VSCode) ---
.idea/
.vs/
.vscode/*
!.vscode/extensions.json
*.user
*.userosscache
*.suo
*.sln.docstates
*.ntvs*
*.njsproj
*.sw?

# --- OS System Files ---
.DS_Store
Thumbs.db

# --- Security / Environment ---
.env